{% extends 'base.html.twig' %}

{% block body %}
	<center>
		<h1>La liste des produits</h1>
	</center>
	<table class="table">
		<thead>
			<tr>
				<th scope="col">Libelle</th>
				<th scope="col">Image</th>
				<th scope="col">Description</th>
				<th scope="col">Prix Unitaire</th>
			</tr>
		</thead>
		<tbody>

			<tr>
				<th scope="row">{{product.libelle}}</th>
				<td>{{product.image}}</td>
				<td>{{product.description}}</td>
				<td>{{product.prix}}</td>

			</tr>


		</tbody>
	</tbody>
</table>
<a href="" class="btn btn-secondary">Mettre à jour</a>
<a href="" class="btn btn-success">Ajouter au panier</a>
<a href="{{path('delete',{'id':product.id})}}" class="btn btn-danger">Supprimer</a>{% endblock %}
